<ul class="details-toc">
   <li><a href="p1-s1-c1#">Capítulo primero: El hombre es «capaz» de Dios</a> (27-49)
      <ul class="upper-roman">
         <li><a href="p1-s1-c1#t1">El deseo de Dios</a></li>
         <li><a href="p1-s1-c1#t2">Las vías de acceso al conocimiento de Dios</a></li>
         <li><a href="p1-s1-c1#t3">El conocimiento de Dios según la Iglesia</a></li>
         <li><a href="p1-s1-c1#t4">¿Cómo hablar de Dios?</a></li>
      </ul>
      <ul>
         <li><a href="p1-s1-c1#t5">Resumen</a></li>
      </ul>
   </li>
   <li><a href="p1-s1-c2#">Capítulo segundo: Dios al encuentro del hombre</a>
      <ul>
         <li><a href="p1-s1-c2#a1">Artículo 1: La Revelación de Dios</a> (51-73)
            <ul class="upper-roman">
               <li><a href="p1-s1-c2#a1-t1">Dios revela su designio amoroso</a></li>
               <li><a href="p1-s1-c2#a1-t2">Las etapas de la Revelación</a></li>
               <li><a href="p1-s1-c2#a1-t3">Cristo Jesús, «mediador y plenitud de toda la Revelación»</a>
               </li>
            </ul>
            <ul>
               <li><a href="p1-s1-c2#a1-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s1-c2#a2">Artículo 2: La transmisión de la Revelación divina</a> (74-100)
            <ul class="upper-roman">
               <li><a href="p1-s1-c2#a2-t1">La Tradición apostólica</a></li>
               <li><a href="p1-s1-c2#a2-t2">La relación entre la Tradición y la Sagrada Escritura</a></li>
               <li><a href="p1-s1-c2#a2-t3">La interpretación del Depósito de la Fe</a></li>
            </ul>
            <ul>
               <li><a href="p1-s1-c2#a2-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s1-c2#a3">Artículo 3: La Sagrada Escritura</a> (101-141)
            <ul class="upper-roman">
               <li><a href="p1-s1-c2#a3-t1">Cristo - Palabra única de la Sagrada Escritura</a></li>
               <li><a href="p1-s1-c2#a3-t2">Inspiración y verdad de la Sagrada Escritura</a></li>
               <li><a href="p1-s1-c2#a3-t3">El Espíritu Santo, intérprete de la Escritura</a></li>
               <li><a href="p1-s1-c2#a3-t4">El canon de las Escrituras</a></li>
               <li><a href="p1-s1-c2#a3-t5">La Sagrada Escritura en la vida de la Iglesia</a></li>
            </ul>
            <ul>
               <li><a href="p1-s1-c2#a3-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p1-s1-c3#">Capítulo tercero: La respuesta del hombre a Dios</a> (142-143)
      <ul>
         <li><a href="p1-s1-c3#a1">Artículo 1: Creo</a> (144-165)
            <ul class="upper-roman">
               <li><a href="p1-s1-c3#a1-t1">La obediencia de la Fe</a></li>
               <li><a href="p1-s1-c3#a1-t2">“Yo sé en quién tengo puesta mi fe”</a> (2 Tm 1, 12)</li>
               <li><a href="p1-s1-c3#a1-t3">Las características de la fe</a></li>
            </ul>
         </li>
         <li><a href="p1-s1-c3#a2">Artículo 2: Creemos</a> (166-184)
            <ul class="upper-roman">
               <li><a href="p1-s1-c3#a2-t1">“Mira, Señor, la fe de tu Iglesia”</a></li>
               <li><a href="p1-s1-c3#a2-t2">El lenguaje de la fe</a></li>
               <li><a href="p1-s1-c3#a2-t3">Una sola Fe</a></li>
            </ul>
            <ul>
               <li><a href="p1-s1-c3#a2-t4">Resumen</a></li>
               <li><a href="p1-s1-c3#a2-t5">El Credo</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>