<ul class="details-toc">
   <li><a href="p1#s2-t1">Los Símbolos de la Fe</a></li>
   <li><a href="p1-s2-c1#">Capítulo primero: Creo en Dios Padre</a> (198)
      <ul>
         <li><a href="p1-s2-c1#a1">Artículo 1: «Creo en Dios, Padre todopoderoso, creador del cielo y de la
               tierra»</a>
            <ul>
               <li><a href="p1-s2-c1#a1-p1">Párrafo 1: Creo en Dios</a> (199-231)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p1-t1">«Creo en un solo Dios»</a></li>
                     <li><a href="p1-s2-c1#a1-p1-t2">Dios revela su Nombre</a></li>
                     <li><a href="p1-s2-c1#a1-p1-t3">Dios, «El que es», es verdad y amor</a></li>
                     <li><a href="p1-s2-c1#a1-p1-t4">Consecuencias de la fe en el Dios único</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p1-t5">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p2">Párrafo 2: El Padre</a> (232-267)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p2-t1">«En el nombre del Padre y del Hijo y del Espíritu
                           Santo»</a></li>
                     <li><a href="p1-s2-c1#a1-p2-t2">La revelación de Dios como Trinidad</a></li>
                     <li><a href="p1-s2-c1#a1-p2-t3">La Santísima Trinidad en la doctrina de la Fe</a></li>
                     <li><a href="p1-s2-c1#a1-p2-t4">Las obras divinas y las misiones trinitarias</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p2-t5">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p3">Párrafo 3: El Todopoderoso</a> (268-278)
                  <ul>
                     <li><a href="p1-s2-c1#a1-p3-t1">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p4">Párrafo 4: El Creador</a> (279-324)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p4-t1">La catequesis sobre la Creación</a></li>
                     <li><a href="p1-s2-c1#a1-p4-t2">La Creación: obra de la Santísima Trinidad</a></li>
                     <li><a href="p1-s2-c1#a1-p4-t3">“El mundo ha sido creado para la gloria de Dios”</a>
                     </li>
                     <li><a href="p1-s2-c1#a1-p4-t4">El misterio de la Creación</a></li>
                     <li><a href="p1-s2-c1#a1-p4-t5">Dios realiza su designio: la divina providencia</a>
                     </li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p4-t6">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p5">Párrafo 5: El cielo y la tierra</a> (325-354)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p5-t1">Los ángeles</a></li>
                     <li><a href="p1-s2-c1#a1-p5-t2">El mundo visible</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p5-t3">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p6">Párrafo 6: El hombre</a> (355-384)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p6-t1">«A imagen de Dios»</a></li>
                     <li><a href="p1-s2-c1#a1-p6-t2">«Corpore et anima unus»</a></li>
                     <li><a href="p1-s2-c1#a1-p6-t3">«Hombre y mujer los creó»</a></li>
                     <li><a href="p1-s2-c1#a1-p6-t4">El hombre en el Paraíso</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p6-t5">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c1#a1-p7">Párrafo 7: La caída</a> (385-421)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c1#a1-p7-t1">Donde abundó el pecado, sobreabundó la gracia</a></li>
                     <li><a href="p1-s2-c1#a1-p7-t2">La caída de los ángeles</a></li>
                     <li><a href="p1-s2-c1#a1-p7-t3">El pecado original</a></li>
                     <li><a href="p1-s2-c1#a1-p7-t4">«No lo abandonaste al poder de la muerte»</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c1#a1-p7-t5">Resumen</a></li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p1-s2-c2#">Capítulo segundo: Creo en Jesucristo, Hijo único de Dios</a> (422-429)
      <ul>
         <li><a href="p1-s2-c2#a2">Artículo 2: «Y en Jesucristo, su único Hijo, Nuestro Señor»</a> (430-455)
            <ul class="upper-roman">
               <li><a href="p1-s2-c2#a2-t1">Jesús</a></li>
               <li><a href="p1-s2-c2#a2-t2">Cristo</a></li>
               <li><a href="p1-s2-c2#a2-t3">Hijo único de Dios</a></li>
               <li><a href="p1-s2-c2#a2-t4">Señor</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c2#a2-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s2-c2#a3">Artículo 3: «Jesucristo fue concebido por obra y gracia del Espíritu
               Santo y nació de Santa María Virgen»</a> (456-483)
            <ul>
               <li><a href="p1-s2-c2#a3-p1">Párrafo 1: El Hijo de Dios se hizo hombre</a>
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a3-p1-t1">Por qué el Verbo se hizo carne</a></li>
                     <li><a href="p1-s2-c2#a3-p1-t2">La Encarnación</a></li>
                     <li><a href="p1-s2-c2#a3-p1-t3">Verdadero Dios y verdadero hombre</a></li>
                     <li><a href="p1-s2-c2#a3-p1-t4">Cómo es hombre el Hijo de Dios</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a3-p1-t5">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c2#a3-p2">Párrafo 2: «…Concebido por obra y gracia del Espíritu Santo,
                     nació de Santa María Virgen»</a> (484-511)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a3-p2-t1">Concebido por obra y gracia del Espíritu Santo…</a>
                     </li>
                     <li><a href="p1-s2-c2#a3-p2-t2">…nació de la Virgen María</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a3-p2-t3">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c2#a3-p3">Párrafo 3: Los misterios de la vida de Cristo</a> (512-570)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a3-p3-t1">Toda la vida de Cristo es misterio</a></li>
                     <li><a href="p1-s2-c2#a3-p3-t2">Los misterios de la infancia y de la vida oculta de
                           Jesús</a></li>
                     <li><a href="p1-s2-c2#a3-p3-t3">Los misterios de la vida pública de Jesús</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a3-p3-t4">Resumen</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="p1-s2-c2#a4">Artículo 4: «Jesucristo padeció bajo Poncio Pilato, fue crucificado,
               muerto y sepultado»</a> (571-594)
            <ul>
               <li><a href="p1-s2-c2#a4-p1">Párrafo 1: Jesús e Israel</a>
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a4-p1-t1">Jesús y la Ley</a></li>
                     <li><a href="p1-s2-c2#a4-p1-t2">Jesús y el Templo</a></li>
                     <li><a href="p1-s2-c2#a4-p1-t3">Jesús y la fe de Israel en el Dios único y Salvador</a>
                     </li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a4-p1-t4">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c2#a4-p2">Párrafo 2: Jesús murió crucificado</a> (595-623)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a4-p2-t1">El proceso de Jesús</a></li>
                     <li><a href="p1-s2-c2#a4-p2-t2">La muerte redentora de Cristo en el designio divino de
                           salvación</a></li>
                     <li><a href="p1-s2-c2#a4-p2-t3">Cristo se ofreció a su Padre por nuestros pecados</a>
                     </li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a4-p2-t4">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c2#a4-p3">Párrafo 3: Jesucristo fue sepultado</a> (624-630)
                  <ul>
                     <li><a href="p1-s2-c2#a4-p3-t1">Resumen</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="p1-s2-c2#a5">Artículo 5: «Jesucristo descendió a los infiernos, al tercer día resucitó
               de entre los muertos»</a> (631-637)
            <ul>
               <li><a href="p1-s2-c2#a5-p1">Párrafo 1: Cristo descendió a los infiernos</a>
                  <ul>
                     <li><a href="p1-s2-c2#a5-p1-t1">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c2#a5-p2">Párrafo 2: Al tercer día resucitó de entre los muertos</a>
                  (638-658)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c2#a5-p2-t1">El acontecimiento histórico y transcendente</a></li>
                     <li><a href="p1-s2-c2#a5-p2-t2">La Resurrección, obra de la Santísima Trinidad</a></li>
                     <li><a href="p1-s2-c2#a5-p2-t3">Sentido y alcance salvífico de la Resurrección</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c2#a5-p2-t4">Resumen</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="p1-s2-c2#a6">Artículo 6: «Jesucristo subió a los cielos, y está sentado a la derecha
               de Dios, Padre Todopoderoso»</a> (659-667)
            <ul>
               <li><a href="p1-s2-c2#a6-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s2-c2#a7">Artículo 7: «Desde allí ha de venir a juzgar a vivos y a muertos»</a>
            (668-682)
            <ul class="upper-roman">
               <li><a href="p1-s2-c2#a7-t1">Volverá en gloria</a></li>
               <li><a href="p1-s2-c2#a7-t2">Para juzgar a vivos y muertos</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c2#a7-t3">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p1-s2-c3#">Capítulo tercero: Creo en el Espíritu Santo</a> (683-686)
      <ul>
         <li><a href="p1-s2-c3#a8">Artículo 8: «Creo en el Espíritu Santo»</a> (687-747)
            <ul class="upper-roman">
               <li><a href="p1-s2-c3#a8-t1">La misión conjunta del Hijo y del Espíritu</a></li>
               <li><a href="p1-s2-c3#a8-t2">Nombre, apelativos y símbolos del Espíritu Santo</a></li>
               <li><a href="p1-s2-c3#a8-t3">El Espíritu y la Palabra de Dios en el tiempo de las
                     promesas</a></li>
               <li><a href="p1-s2-c3#a8-t4">El Espíritu de Cristo en la plenitud de los tiempos</a></li>
               <li><a href="p1-s2-c3#a8-t5">El Espíritu y la Iglesia en los últimos tiempos</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c3#a8-t6">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s2-c3#a9">Artículo 9: «Creo en la Santa Iglesia Católica»</a> (748-750)
            <ul>
               <li><a href="p1-s2-c3#a9-p1">Párrafo 1: La Iglesia en el designio de Dios</a> (751-780)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p1-t1">Los nombre y las imágenes de la Iglesia</a></li>
                     <li><a href="p1-s2-c3#a9-p1-t2">Origen, fundación y misión de la Iglesia</a></li>
                     <li><a href="p1-s2-c3#a9-p1-t3">El misterio de la Iglesia</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p1-t4">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c3#a9-p2">Párrafo 2: La Iglesia, Pueblo de Dios, Cuerpo de Cristo, Templo
                     del Espíritu Santo</a> (781-810)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p2-t1">La Iglesia, Pueblo de Dios</a></li>
                     <li><a href="p1-s2-c3#a9-p2-t2">La Iglesia, Cuerpo de Cristo</a></li>
                     <li><a href="p1-s2-c3#a9-p2-t3">La Iglesia, Templo del Espíritu Santo</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p2-t4">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c3#a9-p3">Párrafo 3: La Iglesia es una, santa, católica y apostólica</a>
                  (811-870)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p3-t1">La Iglesia es una</a></li>
                     <li><a href="p1-s2-c3#a9-p3-t2">La Iglesia es santa</a></li>
                     <li><a href="p1-s2-c3#a9-p3-t3">La Iglesia es católica</a></li>
                     <li><a href="p1-s2-c3#a9-p3-t4">La Iglesia es apostólica</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p3-t5">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c3#a9-p4">Párrafo 4: Los fieles de Cristo: jerarquía, laicos, vida
                     consagrada</a> (871-945)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p4-t1">La constitución jerárquica de la Iglesia</a></li>
                     <li><a href="p1-s2-c3#a9-p4-t2">Los fieles cristianos laicos</a></li>
                     <li><a href="p1-s2-c3#a9-p4-t3">La vida consagrada</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p4-t4">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c3#a9-p5">Párrafo 5: La comunión de los santos</a> (946-962)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p5-t1">La comunión de los bienes espirituales</a></li>
                     <li><a href="p1-s2-c3#a9-p5-t2">La comunión entre la Iglesia del cielo y la de la
                           tierra</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p5-t3">Resumen</a></li>
                  </ul>
               </li>
               <li><a href="p1-s2-c3#a9-p6">Párrafo 6: María, Madre de Cristo, Madre de la Iglesia</a>
                  (963-975)
                  <ul class="upper-roman">
                     <li><a href="p1-s2-c3#a9-p6-t1">La maternidad de María respecto de la Iglesia</a></li>
                     <li><a href="p1-s2-c3#a9-p6-t2">El culto a la Santísima Virgen</a></li>
                     <li><a href="p1-s2-c3#a9-p6-t3">María, icono escatológico de la Iglesia</a></li>
                  </ul>
                  <ul>
                     <li><a href="p1-s2-c3#a9-p6-t4">Resumen</a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li><a href="p1-s2-c3#a10">Artículo 10: «Creo en el perdón de los pecados»</a> (976-987)
            <ul class="upper-roman">
               <li><a href="p1-s2-c3#a10-t1">Un solo Bautismo para el perdón de los pecados</a></li>
               <li><a href="p1-s2-c3#a10-t2">La potestad de las llaves</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c3#a10-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s2-c3#a11">Artículo 11: «Creo en la resurrección de la carne»</a> (988-1019)
            <ul class="upper-roman">
               <li><a href="p1-s2-c3#a11-t1">La Resurrección de Cristo y la nuestra</a></li>
               <li><a href="p1-s2-c3#a11-t2">Morir en Cristo Jesús</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c3#a11-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p1-s2-c3#a12">Artículo 12: «Creo en la vida eterna»</a> (1020-1065)
            <ul class="upper-roman">
               <li><a href="p1-s2-c3#a12-t1">El juicio particular</a></li>
               <li><a href="p1-s2-c3#a12-t2">El cielo</a></li>
               <li><a href="p1-s2-c3#a12-t3">La purificación final o Purgatorio</a></li>
               <li><a href="p1-s2-c3#a12-t4">El infierno</a></li>
               <li><a href="p1-s2-c3#a12-t5">El Juicio final</a></li>
               <li><a href="p1-s2-c3#a12-t6">La esperanza de los cielos nuevos y de la tierra nueva</a></li>
            </ul>
            <ul>
               <li><a href="p1-s2-c3#a12-t7">Resumen</a></li>
               <li><a href="p1-s2-c3#a12-t8">«Amén»</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>