<ul class="details-toc">
   <li><a href="p2-s2-c1#">Capítulo primero: Los sacramentos del la iniciación cristiana</a> (1212)
      <ul>
         <li><a href="p2-s2-c1#a1">Artículo 1: El sacramento del Bautismo</a> (1213-1284)
            <ul class="upper-roman">
               <li><a href="p2-s2-c1#a1-t1">El nombre de este sacramento</a></li>
               <li><a href="p2-s2-c1#a1-t2">El Bautismo en la economía de la salvación</a></li>
               <li><a href="p2-s2-c1#a1-t3">La celebración del sacramento del Bautismo</a></li>
               <li><a href="p2-s2-c1#a1-t4">Quién puede recibir el Bautismo</a></li>
               <li><a href="p2-s2-c1#a1-t5">Quién puede bautizar</a></li>
               <li><a href="p2-s2-c1#a1-t6">La necesidad del Bautismo</a></li>
               <li><a href="p2-s2-c1#a1-t7">La gracia del Bautismo</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c1#a1-t8">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s2-c1#a2">Artículo 2: El sacramento de la Confirmación</a> (1285-1321)
            <ul class="upper-roman">
               <li><a href="p2-s2-c1#a2-t1">La Confirmación en la economía de la salvación</a></li>
               <li><a href="p2-s2-c1#a2-t2">Los signos y el rito de la Confirmación</a></li>
               <li><a href="p2-s2-c1#a2-t3">Los efectos de la Confirmación</a></li>
               <li><a href="p2-s2-c1#a2-t4">Quién puede recibir este sacramento</a></li>
               <li><a href="p2-s2-c1#a2-t5">El ministro de la Confirmación</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c1#a2-t6">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s2-c1#a3">Artículo 3: El sacramento de la Eucaristía</a> (1322-1419)
            <ul class="upper-roman">
               <li><a href="p2-s2-c1#a3-t1">La Eucaristía, fuente y culmen de la vida eclesial</a></li>
               <li><a href="p2-s2-c1#a3-t2">El nombre de este sacramento</a></li>
               <li><a href="p2-s2-c1#a3-t3">La Eucaristía en la economía de la salvación</a></li>
               <li><a href="p2-s2-c1#a3-t4">La celebración litúrgica de la Eucaristía</a></li>
               <li><a href="p2-s2-c1#a3-t5">El sacrificio sacramental: acción de gracias, memorial,
                     presencia</a></li>
               <li><a href="p2-s2-c1#a3-t6">El banquete pascual</a></li>
               <li><a href="p2-s2-c1#a3-t7">La Eucaristía, «Pignus futurae gloriae»</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c1#a3-t8">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p2-s2-c2#">Capítulo segundo: Los sacramentos de curación</a> (1420-1421)
      <ul>
         <li><a href="p2-s2-c2#a4">Artículo 4: El sacramento de la Penitencia y de la Reconciliación</a>
            (1422-1498)
            <ul class="upper-roman">
               <li><a href="p2-s2-c2#a4-t1">El nombre de este sacramento</a></li>
               <li><a href="p2-s2-c2#a4-t2">Por qué un sacramento de la reconciliación después del
                     bautismo</a></li>
               <li><a href="p2-s2-c2#a4-t3">La conversión de los bautizados</a></li>
               <li><a href="p2-s2-c2#a4-t4">La penitencia interior</a></li>
               <li><a href="p2-s2-c2#a4-t5">Diversas formas de penitencia en la vida cristiana</a></li>
               <li><a href="p2-s2-c2#a4-t6">El sacramento de la Penitencia y de la Reconciliación</a></li>
               <li><a href="p2-s2-c2#a4-t7">Los actos del penitente</a></li>
               <li><a href="p2-s2-c2#a4-t8">El ministro de este sacramento</a></li>
               <li><a href="p2-s2-c2#a4-t9">Los efectos de este sacramento</a></li>
               <li><a href="p2-s2-c2#a4-t10">Las indulgencias</a></li>
               <li><a href="p2-s2-c2#a4-t11">La celebración del sacramento de la Penitencia</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c2#a4-t12">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s2-c2#a5">Artículo 5: La Unción de los Enfermos</a> (1499-1532)
            <ul class="upper-roman">
               <li><a href="p2-s2-c2#a5-t1">Fundamentos en la economía de la salvación</a></li>
               <li><a href="p2-s2-c2#a5-t2">Quién recibe y quién administra este sacramento</a></li>
               <li><a href="p2-s2-c2#a5-t3">La celebración del sacramento</a></li>
               <li><a href="p2-s2-c2#a5-t4">Efectos de la celebración de este sacramento</a></li>
               <li><a href="p2-s2-c2#a5-t5">El viático, último sacramento del cristiano</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c2#a5-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p2-s2-c3#">Capítulo tercero: Los sacramentos al servicio de la comunidad</a> (1533-1535)
      <ul>
         <li><a href="p2-s2-c3#a6">Artículo 6: El sacramento del Orden</a> (1536-1600)
            <ul class="upper-roman">
               <li><a href="p2-s2-c3#a6-t1">El nombre de sacramento del Orden</a></li>
               <li><a href="p2-s2-c3#a6-t2">El sacramento del Orden en la economía de la salvación</a></li>
               <li><a href="p2-s2-c3#a6-t3">Los tres grados del sacramento del Orden</a></li>
               <li><a href="p2-s2-c3#a6-t4">La celebración de este sacramento</a></li>
               <li><a href="p2-s2-c3#a6-t5">El ministro de este sacramento</a></li>
               <li><a href="p2-s2-c3#a6-t6">Quién puede recibir este sacramento</a></li>
               <li><a href="p2-s2-c3#a6-t7">Efectos del sacramento del Orden</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c3#a6-t8">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s2-c3#a7">Artículo 7: El sacramento del Matrimonio</a> (1601-1666)
            <ul class="upper-roman">
               <li><a href="p2-s2-c3#a7-t1">El Matrimonio en el plan de Dios</a></li>
               <li><a href="p2-s2-c3#a7-t2">La celebración del Matrimonio</a></li>
               <li><a href="p2-s2-c3#a7-t3">El consentimiento matrimonial</a></li>
               <li><a href="p2-s2-c3#a7-t4">Los efectos del sacramento del Matrimonio</a></li>
               <li><a href="p2-s2-c3#a7-t5">Los bienes y las exigencias del amor conyugal</a></li>
               <li><a href="p2-s2-c3#a7-t6">La Iglesia doméstica</a></li>
            </ul>
            <ul>
               <li><a href="p2-s2-c3#a7-t7">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p2-s2-c4#">Capítulo cuarto: Otras celebraciones litúrgicas</a> (1667-1679)
      <ul>
         <li><a href="p2-s2-c4#a1">Artículo 1: Los sacramentales</a>
            <ul>
               <li><a href="p2-s2-c4#a1-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s2-c4#a2">Artículo 2: Las exequias cristianas</a> (1680-1690)
            <ul class="upper-roman">
               <li><a href="p2-s2-c4#a2-t1">La última Pascua del cristiano</a></li>
               <li><a href="p2-s2-c4#a2-t2">La celebración de las exequias</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>