<ul class="details-toc">
   <li><a href="p2-s1-c1#">Capítulo primero: El Misterio Pascual en el tiempo de la Iglesia</a> (1077-1112)
      <ul>
         <li><a href="p2-s1-c1#a1">Artículo 1: La liturgia, obra de la Santísima Trinidad</a>
            <ul class="upper-roman">
               <li><a href="p2-s1-c1#a1-t1">El Padre, fuente y fin de la Liturgia</a></li>
               <li><a href="p2-s1-c1#a1-t2">La obra de Cristo en la Liturgia</a></li>
               <li><a href="p2-s1-c1#a1-t3">El Espíritu Santo y la Iglesia en la Liturgia</a></li>
            </ul>
            <ul>
               <li><a href="p2-s1-c1#a1-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s1-c1#a2">Artículo 2: El Misterio Pascual en los sacramentos de la Iglesia</a>
            (1113-1134)
            <ul class="upper-roman">
               <li><a href="p2-s1-c1#a2-t1">Sacramentos de Cristo</a></li>
               <li><a href="p2-s1-c1#a2-t2">Sacramentos de la Iglesia</a></li>
               <li><a href="p2-s1-c1#a2-t3">Sacramentos de la fe</a></li>
               <li><a href="p2-s1-c1#a2-t4">Sacramentos de la salvación</a></li>
               <li><a href="p2-s1-c1#a2-t5">Sacramentos de la vida eterna</a></li>
            </ul>
            <ul>
               <li><a href="p2-s1-c1#a2-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p2-s1-c2#">Capítulo segundo: La celebración sacramental del Misterio Pascual</a> (1135)
      <ul>
         <li><a href="p2-s1-c2#a1">Artículo 1: Celebrar la Liturgia de la Iglesia</a> (1136-1199)
            <ul class="upper-roman">
               <li><a href="p2-s1-c2#a1-t1">¿Quién celebra?</a></li>
               <li><a href="p2-s1-c2#a1-t2">¿Cómo celebrar?</a></li>
               <li><a href="p2-s1-c2#a1-t3">¿Cuándo celebrar?</a></li>
               <li><a href="p2-s1-c2#a1-t4">¿Dónde celebrar?</a></li>
            </ul>
            <ul>
               <li><a href="p2-s1-c2#a1-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p2-s1-c2#a2">Artículo 2: Diversidad litúrgica y unidad del Misterio</a> (1200-1209)
            <ul>
               <li><a href="p2-s1-c2#a2-t1">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>