<ul class="details-toc">
   <li><a href="p3#s2-t1">Resumen</a></li>
   <li><a href="p3-s2-c1#">Capítulo primero: «Amarás al señor tu Dios con todo tu corazón, con toda tu alma y
         con todas tus fuerzas»</a> (2083)
      <ul>
         <li><a href="p3-s2-c1#a1">Artículo 1: El primer mandamiento</a> (2084-2141)
            <ul class="upper-roman">
               <li><a href="p3-s2-c1#a1-t1">«Adorarás al Señor tu Dios, y le servirás»</a></li>
               <li><a href="p3-s2-c1#a1-t2">«A Él sólo darás culto»</a></li>
               <li><a href="p3-s2-c1#a1-t3">«No habrá para ti otros dioses delante de mí»</a></li>
               <li><a href="p3-s2-c1#a1-t4">«No te harás escultura alguna…»</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c1#a1-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c1#a2">Artículo 2: El segundo mandamiento</a> (2142-2167)
            <ul class="upper-roman">
               <li><a href="p3-s2-c1#a2-t1">El Nombre del Señor es santo</a></li>
               <li><a href="p3-s2-c1#a2-t2">Tomar el Nombre del Señor en vano</a></li>
               <li><a href="p3-s2-c1#a2-t3">El nombre cristiano</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c1#a2-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c1#a3">Artículo 3: El tercer mandamiento</a> (2168-2195)
            <ul class="upper-roman">
               <li><a href="p3-s2-c1#a3-t1">El día del sábado</a></li>
               <li><a href="p3-s2-c1#a3-t2">El día del Señor</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c1#a3-t3">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p3-s2-c2#">Capítulo segundo: «Amarás a tu prójimo como a ti mismo»</a> (2196)
      <ul>
         <li><a href="p3-s2-c2#a4">Artículo 4: El cuarto mandamiento</a> (2197-2257)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a4-t1">La familia en el plan de Dios</a></li>
               <li><a href="p3-s2-c2#a4-t2">La familia y la sociedad</a></li>
               <li><a href="p3-s2-c2#a4-t3">Deberes de los miembros de la familia</a></li>
               <li><a href="p3-s2-c2#a4-t4">La familia y el Reino de Dios</a></li>
               <li><a href="p3-s2-c2#a4-t5">Las autoridades en la sociedad civil</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a4-t6">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a5">Artículo 5: El quinto mandamiento</a> (2258-2330)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a5-t1">El respeto de la vida humana</a></li>
               <li><a href="p3-s2-c2#a5-t2">El respeto de la dignidad de las personas</a></li>
               <li><a href="p3-s2-c2#a5-t3">La defensa de la paz</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a5-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a6">Artículo 6: El sexto mandamiento</a> (2331-2400)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a6-t1">«Hombre y mujer los creó…»</a></li>
               <li><a href="p3-s2-c2#a6-t2">La vocación a la castidad</a></li>
               <li><a href="p3-s2-c2#a6-t3">El amor de los esposos</a></li>
               <li><a href="p3-s2-c2#a6-t4">Las ofensas a la dignidad del matrimonio</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a6-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a7">Artículo 7: El séptimo mandamiento</a> (2401-2463)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a7-t1">El destino universal y la propiedad privada de los bienes</a>
               </li>
               <li><a href="p3-s2-c2#a7-t2">El respeto de las personas y de sus bienes</a></li>
               <li><a href="p3-s2-c2#a7-t3">La doctrina social de la Iglesia</a></li>
               <li><a href="p3-s2-c2#a7-t4">Actividad económica y justicia social</a></li>
               <li><a href="p3-s2-c2#a7-t5">Justicia y solidaridad entre las naciones</a></li>
               <li><a href="p3-s2-c2#a7-t6">El amor de los pobres</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a7-t7">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a8">Artículo 8: El octavo mandamiento</a> (2464-2513)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a8-t1">Vivir en la verdad</a></li>
               <li><a href="p3-s2-c2#a8-t2">«Dar testimonio de la verdad»</a></li>
               <li><a href="p3-s2-c2#a8-t3">Ofensas a la verdad</a></li>
               <li><a href="p3-s2-c2#a8-t4">El respeto a la verdad</a></li>
               <li><a href="p3-s2-c2#a8-t5">El uso de los medios de comunicación social</a></li>
               <li><a href="p3-s2-c2#a8-t6">Verdad, belleza y arte sacro</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a8-t7">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a9">Artículo 9: El noveno mandamiento</a> (2514-2533)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a9-t1">La purificación del corazón</a></li>
               <li><a href="p3-s2-c2#a9-t2">El combate por la pureza</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a9-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s2-c2#a10">Artículo 10: El décimo mandamiento</a> (2534-2557)
            <ul class="upper-roman">
               <li><a href="p3-s2-c2#a10-t1">El desorden de la concupiscencia</a></li>
               <li><a href="p3-s2-c2#a10-t2">Los deseos del Espíritu</a></li>
               <li><a href="p3-s2-c2#a10-t3">La pobreza de corazón</a></li>
               <li><a href="p3-s2-c2#a10-t4">«Quiero ver a Dios»</a></li>
            </ul>
            <ul>
               <li><a href="p3-s2-c2#a10-t5">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>