<ul class="details-toc">
   <li><a href="p3-s1-c1#">Capítulo primero: La dignidad de la persona humana</a> (1700)
      <ul>
         <li><a href="p3-s1-c1#a1">Artículo 1: El hombre, imagen de Dios</a> (1701-1715)
            <ul>
               <li><a href="p3-s1-c1#a1-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a2">Artículo 2: Nuestra vocación a la bienaventuranza</a> (1716-1729)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a2-t1">Las bienaventuranzas</a></li>
               <li><a href="p3-s1-c1#a2-t2">El deseo de felicidad</a></li>
               <li><a href="p3-s1-c1#a2-t3">La bienaventuranza cristiana</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a2-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a3">Artículo 3: La libertad del hombre</a> (1730-1748)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a3-t1">Libertad y responsabilidad</a></li>
               <li><a href="p3-s1-c1#a3-t2">La libertad humana en la economía de la salvación</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a3-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a4">Artículo 4: La moralidad de los actos humanos</a> (1749-1761)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a4-t1">Fuentes de la moralidad</a></li>
               <li><a href="p3-s1-c1#a4-t2">Los actos buenos y los actos malos</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a4-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a5">Artículo 5: La moralidad de las pasiones</a> (1762-1775)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a5-t1">Las pasiones</a></li>
               <li><a href="p3-s1-c1#a5-t2">Pasiones y vida moral</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a5-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a6">Artículo 6: La conciencia moral</a> (1776-1802)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a6-t1">El dictamen de la conciencia</a></li>
               <li><a href="p3-s1-c1#a6-t2">La formación de la conciencia</a></li>
               <li><a href="p3-s1-c1#a6-t3">Decidir en conciencia</a></li>
               <li><a href="p3-s1-c1#a6-t4">El juicio erróneo</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a6-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a7">Artículo 7: Las virtudes</a> (1803-1845)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a7-t1">Las virtudes humanas</a></li>
               <li><a href="p3-s1-c1#a7-t2">Las virtudes teologales</a></li>
               <li><a href="p3-s1-c1#a7-t3">Dones y frutos del Espíritu Santo</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a7-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c1#a8">Artículo 8: El pecado</a> (1846-1876)
            <ul class="upper-roman">
               <li><a href="p3-s1-c1#a8-t1">La misericordia y el pecado</a></li>
               <li><a href="p3-s1-c1#a8-t2">Definición de pecado</a></li>
               <li><a href="p3-s1-c1#a8-t3">La diversidad de pecados</a></li>
               <li><a href="p3-s1-c1#a8-t4">La gravedad del pecado: pecado mortal y venial</a></li>
               <li><a href="p3-s1-c1#a8-t5">La proliferación del pecado</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c1#a8-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p3-s1-c2#">Capítulo segundo: La comunidad humana</a> (1877)
      <ul>
         <li><a href="p3-s1-c2#a1">Artículo 1: La persona y la sociedad</a> (1878-1896)
            <ul class="upper-roman">
               <li><a href="p3-s1-c2#a1-t1">Carácter comunitario de la vocación humana</a></li>
               <li><a href="p3-s1-c2#a1-t2">Conversión y la sociedad</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c2#a1-t3">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c2#a2">Artículo 2: La participación en la vida social</a> (1897-1927)
            <ul class="upper-roman">
               <li><a href="p3-s1-c2#a2-t1">La autoridad</a></li>
               <li><a href="p3-s1-c2#a2-t2">El bien común</a></li>
               <li><a href="p3-s1-c2#a2-t3">Responsabilidad y participación</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c2#a2-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c2#a3">Artículo 3: La justicia social</a> (1928-1948)
            <ul class="upper-roman">
               <li><a href="p3-s1-c2#a3-t1">El respeto de la persona humana</a></li>
               <li><a href="p3-s1-c2#a3-t2">Igualdad y diferencias entre los hombres</a></li>
               <li><a href="p3-s1-c2#a3-t3">La solidaridad humana</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c2#a3-t4">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p3-s1-c3#">Capítulo tercero: La salvación de Dios: La ley y la gracia</a> (1949)
      <ul>
         <li><a href="p3-s1-c3#a1">Artículo 1: La ley moral</a> (1950-1986)
            <ul class="upper-roman">
               <li><a href="p3-s1-c3#a1-t1">La Ley moral natural</a></li>
               <li><a href="p3-s1-c3#a1-t2">La Ley antigua</a></li>
               <li><a href="p3-s1-c3#a1-t3">La Ley nueva o Ley evangélica</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c3#a1-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c3#a2">Artículo 2: Gracia y justificación</a> (1987-2029)
            <ul class="upper-roman">
               <li><a href="p3-s1-c3#a2-t1">La justificación</a></li>
               <li><a href="p3-s1-c3#a2-t2">La gracia</a></li>
               <li><a href="p3-s1-c3#a2-t3">El mérito</a></li>
               <li><a href="p3-s1-c3#a2-t4">La santidad cristiana</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c3#a2-t5">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p3-s1-c3#a3">Artículo 3: La Iglesia, madre y maestra</a> (2030-2051)
            <ul class="upper-roman">
               <li><a href="p3-s1-c3#a3-t1">Vida moral y magisterio de la Iglesia</a></li>
               <li><a href="p3-s1-c3#a3-t2">Los Mandamientos de la Iglesia</a></li>
               <li><a href="p3-s1-c3#a3-t3">Vida moral y testimonio misionero</a></li>
            </ul>
            <ul>
               <li><a href="p3-s1-c3#a3-t4">Resumen</a></li>
               <li><a href="p3-s1-c3#a3-t5">Los Diez Mandamientos</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>