<ul class="details-toc">
   <li><a href="p4#s1-t1">¿Qué es la oración?</a></li>
   <li><a href="p4-s1-c1#">Capítulo primero: La revelación de la oración</a> (2566-2567)
      <ul>
         <li><a href="p4-s1-c1#t1">Vocación universal a la oración</a></li>
         <li><a href="p4-s1-c1#a1">Artículo 1: En el Antiguo Testamento</a> (2568-2597)
            <ul>
               <li><a href="p4-s1-c1#a1-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p4-s1-c1#a2">Artículo 2: En la plenitud de los tiempos</a> (2598-2622)
            <ul>
               <li><a href="p4-s1-c1#a2-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p4-s1-c1#a3">Artículo 3: En el tiempo de la Iglesia</a> (2623-2649)
            <ul class="upper-roman">
               <li><a href="p4-s1-c1#a3-t1">La bendición y la adoración</a></li>
               <li><a href="p4-s1-c1#a3-t2">La oración de petición</a></li>
               <li><a href="p4-s1-c1#a3-t3">La oración de intercesión</a></li>
               <li><a href="p4-s1-c1#a3-t4">La oración de acción de gracias</a></li>
               <li><a href="p4-s1-c1#a3-t5">La oración de alabanza</a></li>
            </ul>
            <ul>
               <li><a href="p4-s1-c1#a3-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p4-s1-c2#">Capítulo segundo: La tradición de la oración</a> (2650-2651)
      <ul>
         <li><a href="p4-s1-c2#a1">Artículo 1: Fuentes de la oración</a> (2652-2662)
            <ul>
               <li><a href="p4-s1-c2#a1-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p4-s1-c2#a2">Artículo 2: El camino de la oración</a> (2663-2682)
            <ul>
               <li><a href="p4-s1-c2#a2-t1">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p4-s1-c2#a3">Artículo 3: Maestros de oración</a> (2683-2696)
            <ul>
               <li><a href="p4-s1-c2#a3-t1">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="p4-s1-c3#">Capítulo tercero: La vida de oración</a> (2697-2699)
      <ul>
         <li><a href="p4-s1-c3#a1">Artículo 1: Expresiones de la oración</a> (2700-2724)
            <ul class="upper-roman">
               <li><a href="p4-s1-c3#a1-t1">La oración vocal</a></li>
               <li><a href="p4-s1-c3#a1-t2">La meditación</a></li>
               <li><a href="p4-s1-c3#a1-t3">La oración contemplativa</a></li>
            </ul>
            <ul>
               <li><a href="p4-s1-c3#a1-t4">Resumen</a></li>
            </ul>
         </li>
         <li><a href="p4-s1-c3#a2">Artículo 2: El combate de la oración</a> (2725-2758)
            <ul class="upper-roman">
               <li><a href="p4-s1-c3#a2-t1">Obstáculos para la oración</a></li>
               <li><a href="p4-s1-c3#a2-t2">La humilde vigilancia de la oración</a></li>
               <li><a href="p4-s1-c3#a2-t3">La confianza filial</a></li>
               <li><a href="p4-s1-c3#a2-t4">Perseverar en el amor</a></li>
            </ul>
            <ul>
               <li><a href="p4-s1-c3#a2-t5">La oración de la Hora de Jesús</a></li>
               <li><a href="p4-s1-c3#a2-t6">Resumen</a></li>
            </ul>
         </li>
      </ul>
   </li>
</ul>