<ul class="details-toc">
   <li><a href="p4-s2#a1">Artículo 1: «Resumen de todo el Evangelio»</a> (2761-2776)
      <ul class="upper-roman">
         <li><a href="p4-s2#a1-t1">Corazón de las Sagradas Escrituras</a></li>
         <li><a href="p4-s2#a1-t2">« La oración del Señor »</a></li>
         <li><a href="p4-s2#a1-t3">Oración de la Iglesia</a></li>
      </ul>
      <ul>
         <li><a href="p4-s2#a1-t4">Resumen</a></li>
      </ul>
   </li>
   <li><a href="p4-s2#a2">Artículo 2: «Padre nuestro que estás en el cielo»</a> (2777-2802)
      <ul class="upper-roman">
         <li><a href="p4-s2#a2-t1">Acercarse a Él con toda confianza</a></li>
         <li><a href="p4-s2#a2-t2">«¡Padre!»</a></li>
         <li><a href="p4-s2#a2-t3">Padre «nuestro»</a></li>
         <li><a href="p4-s2#a2-t4">«Que estás en el cielo»</a></li>
      </ul>
      <ul>
         <li><a href="p4-s2#a2-t5">Resumen</a></li>
      </ul>
   </li>
   <li><a href="p4-s2#a3">Artículo 3: Las siete peticiones</a> (2803-2854)
      <ul class="upper-roman">
         <li><a href="p4-s2#a3-t1">«Santificado sea tu nombre»</a></li>
         <li><a href="p4-s2#a3-t2">«Venga a nosotros tu reino»</a></li>
         <li><a href="p4-s2#a3-t3">«Hágase tu voluntad en la tierra como en el cielo»</a></li>
         <li><a href="p4-s2#a3-t4">«Danos hoy nuestro pan de cada día»</a></li>
         <li><a href="p4-s2#a3-t5">«Perdona nuestras ofensas como también nosotros perdonamos a los que nos
               ofenden»</a></li>
         <li><a href="p4-s2#a3-t6">«No nos dejes caer en la tentación»</a></li>
         <li><a href="p4-s2#a3-t7">«Y líbranos del mal»</a></li>
      </ul>
      <ul>
         <li><a href="p4-s2#a3-t8">La doxología final</a></li>
         <li><a href="p4-s2#a3-t9">Resumen</a></li>
      </ul>
   </li>
</ul>