<ul>
   <li><a href="laetamur-magnopere#">Carta Apostólica «Laetamur Magnopere» por la que se aprueba la edición típica
         latina
         del Catecismo De La Iglesia Católica</a></li>
   <li><a href="fidei-depositum#">Constitución Apostólica «Fidei Depositum» para la publicación del Catecismo de la
         Iglesia Católica</a></li>
   <li><a href="prologo#">Prólogo</a> (1-25)
      <ul class="upper-roman">
         <li><a href="prologo#p-r1">La vida del hombre: conocer y amar a Dios</a></li>
         <li><a href="prologo#p-r2">Transmitir la fe: la catequesis</a></li>
         <li><a href="prologo#p-r3">Fin y destinatarios de este Catecismo</a></li>
         <li><a href="prologo#p-r4">La estructura del “Catecismo de la Iglesia Católica”</a></li>
         <li><a href="prologo#p-r5">Indicaciones prácticas para el uso de este catecismo</a></li>
         <li><a href="prologo#p-r6">Las necesarias adaptaciones</a></li>
      </ul>
   </li>
   <li><a href="p1#">Primera parte: La profesión de la Fe</a>
      <ul>
         <li><a href="p1#s1">Primera sección: «Creo» - «Creemos»</a> (26)
            {% include catechismus/es/p1-s1.html %}
         </li>
         <li><a href="p1#s2">Segunda sección: La profesión de la Fe Cristiana</a> (185-197)
            {% include catechismus/es/p1-s2.html %}
         </li>
      </ul>
   </li>
   <li><a href="p2#">Segunda parte: La celebración del Misterio Cristiano</a> (1066-1075)
      <ul>
         <li><a href="p2#s1">Primera sección: La Economía Sacramental</a> (1076)
            {% include catechismus/es/p2-s1.html %}
         </li>
         <li><a href="p2#s2">Segunda sección: «Los siete sacramentos de la Iglesia»</a> (1210-1211)
            {% include catechismus/es/p2-s2.html %}
         </li>
      </ul>
   </li>
   <li><a href="p3#">Tercera parte: La vida en cristo</a> (1691-1698)
      <ul>
         <li><a href="p3#s1">Primera sección: La vocación del hombre: La vida en el Espíritu</a> (1699)
            {% include catechismus/es/p3-s1.html %}
         </li>
         <li><a href="p3#s2">Segunda sección: Los diez mandamientos</a> (2052-2082)
            {% include catechismus/es/p3-s2.html %}
         </li>
      </ul>
   </li>
   <li><a href="p4#">Cuarta parte: La oración cristiana</a> (2558-2565)
      <ul>
         <li><a href="p4#s1">Primera sección: La oración en la vida cristiana</a>
            {% include catechismus/es/p4-s1.html %}
         </li>
         <li><a href="p4#s2">Segunda sección: La oración del Señor: «Padre Nuestro»</a> (2759-2760)
            {% include catechismus/es/p4-s2.html %}
         </li>
      </ul>
   </li>
</ul>